@media screen and (max-width: 600px) {
    .request-quate{
        display: none;
    }
    .social-icon{
        display: none;
    }
    .nav-ul{
        flex-direction: column;
        margin-right: 40%;
       
    }
    .nav-ul a{
        background-color: #ff7314;
        padding: 10px;
        border-radius: 10px;
    }
    .welcome-section{
        flex-direction: column;
        margin: auto;
        width: 50%;
        
    }
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
       
      }
      .row{
         width: 100%;
      }
    .image-item{
        display: none;
    }
    .welcome-area{
        width: 100%;
    }
    .image-item2{
        
        margin-left: 3%;
        width: 70%;
      }
      .background-color{
          height: 300px;
          background-color:#242121;
      }
      .quality-section{
          flex-direction: column;

      }
      .flex-container{
          flex-direction: column;
      }
      .grid-layout{
        flex-direction: column;
        
      }
      .grid-layout > div{
          width: 100%;
      }
      .newsletter p{
        display: none;
      }
      footer{
        height: 500px;
        background-color:#242121;
      }
      .footer-description{
        flex-direction: column;
       
      }
      .address-area{
          width: 100%;
      }
      .open-close-area{
         margin-left: -1%;
      }
      .footer2{
          margin-top: 5%;
      }
  }